<div ng-controller="AboutCtrl"> <md-tabs class="md-accent" md-selected="selectedIndex"> <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}"> <div class="demo-tab tab{{$index%4}}" layout="column" layout-fill layout-align="space-around left"> <md-list> <md-item ng-repeat="beer in beers"> <md-card> <md-item-content> <!--           <div class="md-tile-left">
              
          </div> --> <div class="md-tile-content"> <h3>{{beer.name}}</h3> <h4>{{beer.type}}</h4> <!--             <p>
              {{beer.region}}
            </p> --> </div> </md-item-content> </md-card> </md-item> </md-list> </div></md-tab> </md-tabs> </div>